.h-taxonomy-table
  td
    vertical-align middle

  .h-tax-id, .h-tax-label, .h-tax-parent
    min-width 80px

  .h-tax-line-color
    width 40px
    height 28px
    padding 2px
    border 1px solid #ccc
    border-radius 4px
    cursor pointer
